{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>About Me</h2>

<p>
I am a Data Science student passionate about Machine Learning,
AI, and Data Analytics.
</p>

{% comment %} <h3>Skills</h3>

<div class="skills">

    <div class="skill">
        <i class="fa-brands fa-python"></i>
        <p>Python</p>
    </div>

    <div class="skill">
        <i class="fa-solid fa-database"></i>
        <p>SQL</p>
    </div>

    <div class="skill">
        <i class="fa-solid fa-chart-line"></i>
        <p>Machine Learning</p>
    </div>

</div> {% endcomment %}

{% endblock %}