{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="navbar">
    <div class="logo">Portfolio</div>

    <div class="menu" id="menu">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/skills/">Skills</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
    </div>

    <div class="hamburger" onclick="toggleMenu()">
        ☰
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/script.js' %}"></script>
<script>
    const elements = document.querySelectorAll('.reveal');
    
    function revealOnScroll(){
        for (let el of elements){
            let windowHeight = window.innerHeight;
            let elementTop = el.getBoundingClientRect().top;
    
            if (elementTop < windowHeight - 100){
                el.classList.add('active');
            }
        }
    }
    
    window.addEventListener('scroll', revealOnScroll);
    revealOnScroll();
    </script>
</body>
</html>